@model Lab04_ED_2022.Models.ModeloPaciente

@{
    ViewData["Title"] = "Create";
}

<h1>Ingresar un nuevo paciente</h1>
<p>
    <b>Cargar  desde CSV</b>
</p>
<form asp-controller="ControladorPaciente" asp-action="Upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <br />
    <br />
    <button type="submit">Cargar</button>
    <hr />
</form>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Genero" /> @Html.DisplayNameFor(model => model.Genero)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Especializacion" class="control-label"></label>
                <select class=" form-select" asp-for=" Especializacion">
                    <option>
                        Traumatología [interna]
                    </option>
                    <option>
                        Traomatología [Expuesta]
                    </option>
                    <option>
                        Ginecología
                    </option>
                    <option>
                        Cardiolodía
                    </option>
                    <option>
                        Neumología
                    </option>

                    <option value="item"> @Html.DisplayFor(model => model.Especializacion) </option>
                </select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ingreso" /> @Html.DisplayNameFor(model => model.Ingreso)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" class="form-control" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDeNacimiento" class="control-label"></label>
                <input asp-for="FechaDeNacimiento" class="form-control" />
                <span asp-validation-for="FechaDeNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
